<ion-view title="Roulette">
    <ion-content padding="true" class="has-header">
        
        <div class="counter-w"  ng-click="getBonuspoints()"> <!-- Begin Counter Wrapper  -->
          <div class="container">
              <ul class="flip minutePlay">
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">0</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">0</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">1</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">1</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">2</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">2</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">3</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">3</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">4</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">4</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">5</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">5</div>
                          </div>
                      </a>
                  </li>
              </ul>
              <ul class="flip secondPlay">
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">0</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">0</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">1</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">1</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">2</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">2</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">3</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">3</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">4</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">4</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">5</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">5</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">6</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">6</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">7</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">7</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">8</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">8</div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a>
                          <div class="up">
                              <div class="shadow"></div>
                              <div class="inn">9</div>
                          </div>
                          <div class="down">
                              <div class="shadow"></div>
                              <div class="inn">9</div>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
        </div> <!-- End Counter Wrapper  -->
        <div class="counter-top">
          <button ng-click="getBonuspoints()"class="button button-block button-positive">Arrêter la roulette</button>
        </div>
        
    </ion-content>
</ion-view>